# Xcode
.DS_Store
*.xcuserdata
*.xcworkspace
build/
DerivedData/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Firebase
GoogleService-Info.plist
GoogleService-Info 2.plist
GoogleService-Info 3.plist
